.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.893);
    z-index: 1000;
  }

  .deleteModal {
    position: fixed;
    width: 50%;
    height: auto;
    margin-left: 20%;
    margin-top: 10%;
    background-color: #15444a;
    border: 2px solid black ;
    color: white ;
    padding: 50px;
    z-index: 1000;
    text-align: center;
  }

  .deleteModal span {
    display: flex;
    justify-content: space-evenly;  
  }

  .deleteModal button {
    background-color: white;
  }

  .deleteModal button:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .deleteModal img {
    height: 60px;
  }

 