
.index {
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(202, 240, 246);
    position: relative;
    top: 50px;
    box-shadow: 10px 20px 5px rgba(6, 75, 84, 0.752), 10px 10px 5px rgba(10, 102, 104, 0.621);
    font-family: Bank;
}


.transactionTitles, .transaction {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: .6fr repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    
}

.transactionTitles {
    font-size: 18px;
}

.transaction {
    border-bottom: 2px dashed black;
}
.transaction img {
    height: 85px;
}
