
.pending {
    margin-top: 100px;
    width: 80%;
    background-color: #646357a0;
    display: grid;
    grid-template-columns: 92% 8%;
    row-gap: 10px;
}

.pending-header {
    grid-column: 1;
    grid-row: 1;
    background-color:#5c8f3f;
    margin-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Banknote;
    justify-self: center;
    border: 1px solid #2a2925;
}

.pending-header h1 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.pending-header span {
    font-family: Bank;
    font-size: 20px;
    color: #ece4bc; 
}

.pending a  {
    grid-column: 2;
    grid-row: 1/3;
    align-self: center;
    margin-left: -50%;
}
.pending a:hover {
    cursor: pointer;
}

.pending-titles {
    /* background-color: rgb(192, 189, 189); */
    margin: 20px;
    font-size: 22px;
    text-decoration: underline;
    display: grid;
    grid-template-columns: .3fr repeat(3,1fr);
    color: #2a2925;
}
.pending-titles p:not(:first-child) {
    margin: 0;
    padding: 10px;
    border-right: 1px solid #2a2925;
    border-right-width: 2px;
    border-bottom: 1px solid #2a2925;
    border-bottom-width: 2px;
    
}

.pending .transaction img {
    height: 40px;
}

.listPending {
    font-size: 18px;
    background-color: #ece4bc;
    grid-column: 1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.listPending .transaction {
    border-bottom: 1px solid black;
    margin: 5px 0;
    width: 100%;
    color: #2a2925;
    grid-template-columns: .4fr repeat(3,1fr);
    font-family: monospace;   
}

.listPending .transaction p, .listPending .transaction a {
    border-right: 1px solid #2a2925;
    height: fit-content;
    width: 100%;
    margin: 0;
}

.pending-images{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-items: center;
    align-items: center;
}
.pending-images .withdraw {
    height: 60px;
}
.pending .pendingStamp {
    height: 100px;
    justify-self: center;
    align-self: baseline;
    margin: 0;
}

.listPending hr {
    border: 2px dotted #2a2925;
    border-width: 3px;
}

/* MEDIA QUERY */
@media (max-width: 780px) {
    .listPending .pending-titles p:first-child {
        display: none;
    }
    .listPending .pending-titles, .listPending .transaction {
        grid-template-columns: repeat(3,1fr);
    }
    .listPending .transaction img {
        display: none;
    }
    .listPending .transaction p:nth-child(2) {
        display: unset;
    }
    .listPending .pending-images img:nth-child(1), .listPending .pending-images img:nth-child(3) {
        display: none;
    }
    .listPending .pending-images img {
        grid-column: span 3;
    }
    .pending-header  {
        display: flex;
        height: fit-content;
    }
    .pending-header h1 {
        font-size: 22px;
    }
    .pending-header span {
        font-size: 18px;
        height: fit-content;
        align-self: center;
    }
    .pending {
        width: 90%;
        row-gap: 0;
    }
    

}