
.pending {
    grid-column: 2;
    border: 1px black solid;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto;
    height: fit-content;
    margin-top: 20%;
    background-color: #6e6e6eca;
    /* background-color: #59584e; */
    font-family: GreenScreen;
}


.pending section h5 {
    margin-bottom: 7px;
    font-size: 15px;
    color: white;
}

.otherH5 {
    margin-top: 20px;
}

.pending section span {
    font-size: 14px;
    color: blue;
}