
.App {
    background-image: url('/public/treasury-background.jpg.webp');
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    max-height: auto;
}

.index, .new, .show, .edit{
    margin-top: 60px;
    padding: 10px ;
    /* width: 70%; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
}

.edit, .new {
    padding: 20px;
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    grid-template-rows: 1fr;
}