
.App {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/public/treasury-background.jpg.webp');
    background-size: cover;
}

.index, .new, .show, .edit, .home, .pending, .noDisplay{
    padding: 10px ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
}

.noDisplay {
    margin-top: 100px ;
    background-color: #ece4bc;
    color: #2a2925;
    width: 80%;
}

.edit, .new {
    padding: 20px;
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    grid-template-rows: 1fr;
}