/* @font-face {
    font-family: "18Century";
    src: local("18Century"), url("./Fonts/18thCentury.ttf") format("truetype");
} */
@font-face {
    font-family: "Checkbook";
    src: local("Checkbook"), url("./Fonts/checkbook.TTF") format("truetype");
}
@font-face {
    font-family: "Bank";
    src: local("Bank"), url("./Fonts/bank.ttf") format("truetype");
}
@font-face {
    font-family: "Banknote";
    src: local("Banknote"), url("./Fonts/banknote.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Montserrat')