@font-face {
    font-family: "MoneyMoney";
    src: local("MoneyMoney"), url("./Fonts/money-money.ttf") format("truetype");
}
@font-face {
    font-family: "Checkbook";
    src: local("Checkbook"), url("./Fonts/checkbook.TTF") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script')